<%= form_for(@newPost) do |f| %>
<center>
	

<div class="panel panel-default">
	<div class"panel-body">  
  <div class="field" align="left">
 
    <%= f.text_field :content, autofocus: true, class: "form-control" %>
  
  </div>

  
    <span class="btn btn-submit"style=" float: right"><%= f.submit "Add Post" %></span>
  
</div>
</div>
<br />

</center>


<% end %>
