<!--






																	-->
<!--			RESERVED FOR NOTES ABOVE                            -->




<h1>Echo Base Camp HELP CENTER</h1>
<hr>
<h3><p>http://www.echobase.camp is currently under developement.  Offically as of Feb, 28th, 2016, a primative verison of the code has been finalized.  Nothing fancey I might add but there is some user functionality.  Remember this is not FACEBOOK, TWITTER, LINKED-IN or any other webpage or service you may have used in the past.  www.echobase.camp has no warranty or gaurantee at this time.  The more the site is used by the online community the more it will be upgraded, to include some missing features. <br /><br >Thank You for stopping by and I hope you enjoyed yourself.</p></h3>
<hr>
<h1>LIST OF COOL REFERANCES</h1>
<hr>
<h5>
<a href="https://www.youtube.com/channel/UC2vVVgKKzN-Gb_xeaUY0o-Q">DevFactor on Youtube</a><br />
Plenty of good video tutorials on many differnt programing topics... Just check it out<br /><br />
<a href="http://www.lynda.com">Lynda.com</a><br />
Pick a topic and learn.  Something for everyone.<br /><br />
<a href="http://www.teamtreehouse">Teamtreehouse.com</a><br />
What to learn online in a more class room style like your used to? here you go. Watch the videos, take the quizes and do the challenges.
</h5>