<% if !user_signed_in? %>
	
	<style>
	
	body {
		
		background: linear-gradient(
			rgba(0,0,0,.5),
			rgba(0,0,0,.5)),
			url("/echobackground.png") no-repeat center center fixed;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
	}
	h1 {
		color: white;
		font-weight: bold;
	}
	.container-index {
		margin-right:15%;
		margin-left: 15%;
		color: white;
	}
	.text {
		color: white;
		font-weight: 600;
		font-size: 250;
	}
	
	.footer-links {
		
		text-align: center;
		color: white;
		margin-top: 30%;
	}
	.log-in {
		
		float: right;
		height: 150px;
		width: 300px;
		color: black;
	}
	
	.sign-up {
		
		float: right;
		height: 250px;
		width: 300px;
		color: black;
	}
	
	</style>
	
	<div class="container-index row">
		<div clas="col-sm-6">
		<h1>Welcome to Echo Base Camp</h1>
		<p class"text">
			Connect with your buddies. Chat with friends. Share your adventures.
		</p>
	</div>
		
		
		<div class="col-sm-6">
			
		
		<div class="log-in panel">
			LOG_IN
		</div>
		<div class="sign-up panel">
			SIGN_UP
		</div>
		</div>
	<div class="col-sm-12">
		<p class="footer-links"> ABOUT HELP BLOG STATS JOBS TERMS PRIVACY COOKIES ADS INFO BRAND ADVERTISE BUSSINESS MEDIA</p>
	</div>
	
	</div>
	
	
<% else %>
	SIGNED IN
<% end %>