



<div class="row">
    <div class="col-xs-3">
       <div class="panel panel-default">
           <div class="panel-body">
               <p>stats</p>
           </div>
       </div>
    </div>
    <div class="col-xs-6">
       <div class="panel panel-default">
           <div class="panel-body">
               <p>feed</p>
           </div>
       </div>
    </div>
    <div class="col-xs-3">
       <div class="panel panel-default">
           <div class="panel-body">
				
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- responsive -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-5861298621903576"
				     data-ad-slot="6941093750"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				 
				 
           </div>
       </div>
    </div>
</div>