 <!--






																	-->
<!--			RESERVED FOR NOTES ABOVE                            -->   

<style>

.footer {
position:fixed;
width: 100%;
bottom:0;
left:0;
background-color: lightblue;
}

</style>



<footer class="footer">
    <div class="container">
    	<div class="row">
    		<div class="col-xs-3">
    		
    		</div>
    		<div class="col-xs-6">
    			
    		</div>
    		<div class="col-xs-3">
    			<p>POP-UP-MENU</p>
    		</div>
    </div>
</footer>